.name-product {
  height: 75px;
}

.card-product progress {
  /* height: 25px; */
  width: 100px;
  border-radius: 10px;
}
::-webkit-progress-value {
  border-radius: 95px;
  background: linear-gradient(90deg, #ff512f 0%, #f09819 100%);
}
::-webkit-progress-bar {
  background: #e2dddd;
  border-radius: 100px;
}
/* Test test */
